<form id="order-form" name="order-form" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" class="max-w-md mx-auto mt-8">
  <input type="hidden" name="form-name" value="order-form">
  <input type="hidden" name="bot-field">
    <label for="name" class="block mb-2 font-mono">Nombre</label>
    <input type="text" name="name" id="name" placeholder="Tu nombre" required
      class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 font-mono">

    <label for="address" class="block mb-2 font-mono">Dirección de entrega</label>
    <input type="text" name="address" id="address" placeholder="Tu dirección" required
      class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 font-mono">

    <label for="phone" class="block mb-2 font-mono">Número de teléfono</label>
    <input type="tel" name="phone" id="phone" placeholder="Tu número de teléfono" required
      class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 font-mono">

    <label for="email" class="block mb-2 font-mono">Correo electrónico</label>
    <input type="email" name="email" id="email" placeholder="Tu correo electrónico" required
      class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 font-mono">

<label for="size" class="block mb-2 font-mono">Tamaño del café</label>
<select name="size" id="size" required
  class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 font-mono">
  <option value="">Selecciona un tamaño</option>
  <option value="500">1/2 kilo (500g)</option>
  <option value="1000">1 kilo (1000g)</option>
</select>

<button type="submit"
class="w-full px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 font-mono">Ordenar
café</button>
</form>