<style>
  @media (min-width: 640px) {
    .responsive-form {
      max-width: 640px;
      margin: auto;
    }
    .responsive-input,
    .responsive-button {
      width: calc(100% - 2rem); /* Full width minus padding */
    }
  }
</style>

<div class="responsive-form bg-white shadow-lg px-4 pt-4 pb-4 mb-4">
  <form id="amigo-signup-form" name="amigo-signup-form" method="POST" netlify netlify-honeypot="bot-field">
    <p class="hidden">
      <label>No llenes esto si eres humano: <input name="bot-field" /></label>
    </p>
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico:</label>
    <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Por favor, introduce una dirección de correo válida" required class="responsive-input shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

    <label for="first-name" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
    <input type="text" id="first-name" name="first_name" pattern="[A-Za-z]{2,}" title="El nombre debe tener al menos 2 caracteres" required class="responsive-input shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

    <label for="last-name" class="block text-gray-700 text-sm font-bold mb-2">Apellido:</label>
    <input type="text" id="last-name" name="last_name" pattern="[A-Za-z]{2,}" title="El apellido debe tener al menos 2 caracteres" required class="responsive-input shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

    <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Número de Teléfono:</label>
    <input type="tel" id="phone" name="phone" pattern="\+?[\d\s-]+" title="Por favor, introduce un número de teléfono válido" required class="responsive-input shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

    <label for="address" class="block text-gray-700 text-sm font-bold mb-2">Dirección:</label>
    <input type="text" id="address" name="address" title="Por favor, introduce una dirección válida" required class="responsive-input shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

    <button type="submit" class="responsive-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Registrar</button>
  </form>
</div>
