<head>
  <meta charset="utf-8">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/static/img/og-image.png">
  <link rel="icon" href="/favicon.ico">
  <title>{{ title or settings.title }}</title>
  <meta name="description" content="{{ metaDescription or eleventyComputed.metaDescription or settings.description }}">
 {% set css %}
      {% include "assets/css/inline.css" %}
    {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  {# Uncomment below if you want to include minified inline JavaScript #}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}
</head>
