<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="es">

	{% include "components/head.njk" %}

	<body class="bg-gray-100 text-black antialiased">
		<div class="flex flex-col items-center justify-center min-h-screen p-4">
			<header class="text-center">
										<div class="w-full max-w-screen-md mx-auto">
											<div class="flex justify-center items-center mb-4 mt-4">
												<a href="{{ '/' | url }}"><img src="{{ '/static/img/intuicion-logo.png' | url }}" alt="{{ metadata.title }} Logo" class="mx-auto" style="width:70%;height:auto;"></a>
												<a href="https://maps.app.goo.gl/c7eWK2YFTaj7gWHC9" style="margin-right: 4rem;"><h2 class="text-sm font-bold tracking-widest">CDMX 📍</h2></a>
											</div>
											{# {% include "components/nav.njk" %} #}
										</div>
									</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
		</div>
	</body>
<style>
	.hard-shadow {
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

	</style>
</html>
