---
layout: layouts/base.njk
section: inicio
permalink: /index.html
---
            <div class="mb-8">
                <img src="/static/img/intuicion-cafe-roasting.jpg" alt="A person roasting coffee beans, stirring them in a large roaster" class="mx-auto">
            </div>
            <div class="mb-8">
                <h2 class="text-5xl font-bold uppercase tracking-widest">Pedir Café</h2>
            </div>
            <div class="mb-8">
                <p class="text-2xl font-bold">1/2 KILO $200</p>
                <p class="text-2xl font-bold">1 KILO $400</p>
            </div>
            <div class="text-center">
                <button class="focus:outline-none">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <section class="mb-8">
                {% include "components/order-form.njk" %}
            </section>




