---
layout: layouts/base.njk
section: inicio
permalink: /index.html
---
            <div class="mb-8">
                <img src="/static/img/intuicion-cafe-roasting.jpg" alt="A person roasting coffee beans, stirring them in a large roaster" class="mx-auto">
            </div>
            {# <div class="mb-8">
                <h2 class="text-5xl font-bold uppercase tracking-widest">Pedir Café</h2>
            </div> #}
            <div class="mb-8">
                <div class="flex justify-center">
                    <a href="https://pago.clip.mx/dafc8b68-2520-4e14-bc31-66036487017c" class="mr-4">
                        <div class="grid grid-cols-2 items-center justify-center">
                            <div class="items-center justify-center text-center bg-gray-200 p-4">
                                <p class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">1/2 KILO</p>
                                <p class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">$200</p>
                                <button class="bg-black hover:bg-gray-800 text-white font-bold py-1 px-2 mb-2 text-sm md:text-base lg:text-lg w-full h-full">
                                    Comprar ahora
                                </button>
                            </div>
                        </div>
                    </a>
                    <a href="https://pago.clip.mx/dafc8b68-2520-4e14-bc31-66036487017c">
                        <div class="grid grid-cols-2 items-center justify-center">
                            <div class="items-center justify-center text-center bg-gray-200 p-4">
                                <p class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">1 KILO</p>
                                <p class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">$400</p>
                                <button class="bg-black hover:bg-gray-800 text-white font-bold py-1 px-2 mb-2 text-sm md:text-base lg:text-lg w-full h-full">
                                    Comprar ahora
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {# <div class="text-center">
                <button class="focus:outline-none">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <section class="mb-8">
                {% include "components/order-form.njk" %}
            </section> #}




