---
layout: layouts/base.njk
section: location
---

<section class="mb-8">
  <img class="w-full md:w-[90%] lg:w-[80%] xl:w-[75%] mx-auto border-8 border-white shadow-xl mb-8 pb-4" src="/static/img/cover_local19.jpeg" alt="Local 19 cafe">
  <div class="text-center">
    <!-- Adjusted address text, made it left-aligned and clickable link to Google Maps -->
    <p class="text-left text-brown-600"><a href="https://maps.google.com/?q={{ address }}" target="_blank">{{ address }}</a></p>
</section>
  <h2 class="text-3xl md:text-5xl mb-2 font-bold text-brown-700">{{ title }} <a href="{{ instagram }}" target="_blank"><i class="fab fa-instagram w-6 h-6"></i></a></h2>
<section class="bg-warm-gray-50">
  <div class="max-w-xl md:max-w-7xl mx-auto text-left">
    <div class="space-y-6">
      {{ layoutContent | safe }}
    </div>
  </div>
</section>
