---
layout: layouts/base.njk
section: tostados
permalink: /cafe-de-tostado/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set tostadolist = collections.tostado %}
{% include "components/tostadolist.njk" %}
